body{
background-color: rgb(2, 0, 5);
font-family:Arial,sans-serif;
}
h1{
    color: rgb(58, 0, 128);
    text-align: center;
}
p {
    color: rgb(11, 106, 161);
    font-size: 20px;
}
li{
    color: rgb(20, 157, 221);
    text-align: center;
}
.my_button {
    padding: 10px 20px;
    font-size: 16xp;
    color:  springgreen;
    background-color:rgb(223, 241, 247);
    border-color: rgb(64, 122, 50);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
.my_button:hover {
        background-color: aliceblue;
    }
.my_button:active{
        background-color: rgb(223, 154, 97);
        transform: scale(0.95);
    }
